@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;0,600;1,200;1,400;1,600&display=swap');

* {
  font-family: 'Poppins', sans-serif;
}

.container,
header p {
  margin: 0 auto;
}

.container {
  margin-top: -2em;
}

header {
  text-align: center;
}

header p {
  width: 90%;
  margin-bottom: 5em;
  font-weight: 400;
}

header p,
section div p {
  color: hsl(229, 6%, 66%);
}

h1 {
  font-weight: 200;
  margin-bottom: -1em;
}

h1, h2 {
  font-size: 25px;
}

h1, h2, h3 {
  color: hsl(234, 12%, 34%);
}

section div {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 0 20px;
  padding-bottom: 7em;
  border-radius: 5px;
  margin: 20px auto;
  width: 80%;
}

section div p {
  font-size: 15px;
  width: 95%;
}

img {
  float: right;
  margin-right: 10px;
  margin-top: 16px;
  height: 60px;
}

#s {
  border-top: 5px solid hsl(180, 62%, 55%);
}

#b {
  border-top: 5px solid hsl(0, 78%, 62%);
}

#k {
  border-top: 5px solid hsl(34, 97%, 64%);
}

#c {
  border-top: 5px solid hsl(212, 86%, 64%);
}

@media screen and (min-width: 1440px) {
  h1, h2 {
    font-size: 38px;
  }

  header p {
    width: 30%;
    margin-top: -1rem;
  }

  .container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  section {
    width: 60%;
    margin: 0 auto;
  }

  section div p {
    width: 100%;
  }

  .supervisor, .calculator {
    grid-row-end: span 2;
    margin-top: 20%;
  }

  .supervisor {
    margin-right: -140px;
  }

  .calculator {
    margin-left: -140px;
  }

  .karma {
    grid-row-start: 2;
    grid-column-start: 2;
    margin-top: -1em;
  }
}